@charset "UTF-8";
@keyframes proScale {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 100%;
  }
}
@keyframes noise {
  0%, to {
    background-position: 0 0;
  }
  10% {
    background-position: -5% -10%;
  }
  20% {
    background-position: -15% 5%;
  }
  30% {
    background-position: 7% -25%;
  }
  40% {
    background-position: 20% 25%;
  }
  50% {
    background-position: -25% 10%;
  }
  60% {
    background-position: 15% 5%;
  }
  70% {
    background-position: 0 15%;
  }
  80% {
    background-position: 25% 35%;
  }
  90% {
    background-position: -10% 10%;
  }
}
.example-1 {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DM Sans", sans-serif !important;
  font-weight: 1000;
}

p, li {
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: #ffffff;
  font-weight: 400;
}

html, body {
  scroll-behavior: smooth;
  background: #131313;
  scroll-behavior: smooth;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "DM Sans", sans-serif !important;
  font-size: 16px !important;
}

#cursorFriend {
  position: fixed;
  left: 0;
  top: 0;
  background: none;
  border: #ff5454 2px solid;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 999;
  pointer-events: none;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
}
@media (max-width: 600px) {
  #cursorFriend {
    display: none;
  }
}
#cursorFriend.hovered {
  background: #ff5454;
}

#noiseBG {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  bottom: 0;
  z-index: 100;
  background: url("/noise.png");
  opacity: 0.6;
  animation: noise 0.09s infinite;
  -webkit-animation: noise 0.09s infinite;
  -moz-animation: noise 0.09s infinite;
  -o-animation: noise 0.09s infinite;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  pointer-events: none;
}

#header {
  width: 100%;
  padding: 1.5%;
  position: fixed;
  z-index: 99;
}
@media (max-width: 600px) {
  #header {
    padding: 2.5%;
  }
}
#header #header-logo a {
  font-weight: 1000;
  font-size: 1rem;
  color: #ffffff;
  text-transform: uppercase;
}
#header #mainNav {
  display: flex;
}
#header #mainNav a {
  font-size: 1rem;
  display: inline-block;
  padding: 5px 20px;
  text-decoration: none;
  transition: all 0.35s;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  color: #ffffff;
  margin-left: 10px;
}
#header #mainNav a:hover {
  background: #ffffff;
  color: #131313;
}
#header #mainNav a.active {
  background: #ffffff;
  color: #131313;
}

#footer-wrap {
  padding: 1.5%;
}
@media (max-width: 600px) {
  #footer-wrap {
    padding: 2.5%;
  }
}
#footer-wrap p {
  font-size: 1rem;
  line-height: 1;
  color: #ffffff;
  margin: 0;
}
#footer-wrap .footerBtn {
  color: #ffffff;
  background: #ff5454;
}
#footer-wrap #footerLeft a {
  display: inline-block;
  margin: 0;
  padding: 5px 15px;
  background: #ff5454;
  color: #ffffff;
  margin-left: 10px;
}
@media (max-width: 600px) {
  #footer-wrap #footerLeft a {
    display: none;
  }
}

#scrollProgressWrap {
  position: fixed;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 10;
  height: 400px;
  width: 5px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}
#scrollProgressWrap #scrollProgress {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  transform-origin: 0%;
  -webkit-transform-origin: 0%;
}
@media (max-width: 600px) {
  #scrollProgressWrap {
    display: none;
  }
}

#landingWrap {
  position: relative;
  z-index: 2;
}
@media (max-width: 600px) {
  #landingWrap {
    text-align: center;
  }
}
#landingWrap h1 {
  font-family: "Bodoni Moda", serif !important;
  font-weight: 400;
  font-size: 25rem;
  line-height: 1;
  color: #ffffff;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
}
@media (max-width: 1400px) {
  #landingWrap h1 {
    font-size: 20rem;
  }
}
@media (max-width: 980px) {
  #landingWrap h1 {
    font-size: 15rem;
  }
}
@media (max-width: 600px) {
  #landingWrap h1 {
    margin-top: 200px;
    font-size: 8rem;
  }
}
#landingWrap h1 span {
  margin-right: 0;
  display: inline-block;
}
#landingWrap h2 {
  position: relative;
  z-index: 2;
  font-size: 5rem;
  line-height: 1;
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
@media (max-width: 1400px) {
  #landingWrap h2 {
    font-size: 4rem;
  }
}
@media (max-width: 600px) {
  #landingWrap h2 {
    font-size: 1.5rem;
  }
}
#landingWrap h2 span {
  margin-right: 20px;
  display: inline-block;
}

#profileImage {
  width: 550px;
  height: 550px;
  background: url("/me.jpg") center center no-repeat;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  left: 55%;
  top: 25%;
  z-index: 1;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
}
@media (max-width: 1200px) {
  #profileImage {
    width: 500px;
    height: 500px;
  }
}
@media (max-width: 980px) {
  #profileImage {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 600px) {
  #profileImage {
    top: 180px;
    left: 25%;
    width: 200px;
    height: 200px;
  }
}
#profileImage:after, #profileImage:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  display: block;
  animation: proScale 1s ease-in-out forwards 1;
  -webkit-animation: proScale 1s ease-in-out forwards 1;
}
#profileImage:before {
  animation-delay: 1.1s;
  -webkit-animation-delay: 1.1s;
  z-index: 1;
  background: #ffffff;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
}
#profileImage:after {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  z-index: 2;
  background: #131313;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}

#aboutWrap {
  padding-top: 300px;
}
@media (max-width: 600px) {
  #aboutWrap {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  #aboutWrap ul {
    margin-left: 25px;
  }
}
#aboutWrap h3 {
  font-size: 2rem;
  line-height: 3rem;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 50px;
}
@media (max-width: 600px) {
  #aboutWrap h3 {
    font-size: 1.5rem;
  }
}
#aboutWrap h4 {
  font-size: 1rem;
  line-height: 1;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 1000;
  margin-bottom: 30px;
  text-transform: uppercase;
}
#aboutWrap li {
  list-style: numeral;
}

#projectsWrap {
  position: relative;
  z-index: 2;
  margin-top: 300px;
  margin-bottom: 300px;
}
@media (max-width: 600px) {
  #projectsWrap {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}
#projectsWrap h1 {
  font-size: 5rem;
  color: #ffffff;
  line-height: 1;
}
#projectsWrap h1 span {
  display: inline-block;
}
#projectsWrap h2 {
  font-family: "Bodoni Moda", serif !important;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;
  color: #ffffff;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
}
#projectsWrap p span {
  display: inline-block;
}
#projectsWrap h3 {
  font-size: 4rem;
  line-height: 4rem;
  color: #ffffff;
  margin-bottom: 30px;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  position: relative;
  z-index: 1;
}
#projectsWrap h4 {
  font-size: 1.5rem;
  line-height: 1;
  color: rgba(255, 255, 255, 0.3);
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}
#projectsWrap h5 {
  font-size: 1.5rem;
  line-height: 1;
  color: rgba(255, 255, 255, 0.3);
}
#projectsWrap ul {
  display: flex;
}
#projectsWrap ul li {
  display: inline-block;
  list-style: none;
  border-radius: 9999px;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -o-border-radius: 9999px;
  background: #2b2d42;
  padding: 0px 10px;
  margin: 0 5px 5px 0;
  color: #ffffff;
  font-size: 0.8rem;
}
#projectsWrap .projectBoxes {
  border-top: rgba(255, 255, 255, 0.3) 1px solid;
  position: relative;
  z-index: 2;
  padding: 50px 0;
  display: flex;
  flex-direction: wrap;
  justify-content: space-between;
  align-items: center;
  filter: blur(0px);
  transition: filter 0.35s;
  -webkit-transition: filter 0.35s;
  -moz-transition: filter 0.35s;
  -o-transition: filter 0.35s;
}
#projectsWrap .projectBoxes:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 5px;
  width: 0%;
  background: #131313;
  transition: all 0.35s ease-out;
  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
  z-index: 0;
  content: " ";
  display: block;
}
#projectsWrap .projectBoxes:hover h2, #projectsWrap .projectBoxes:hover h3 {
  color: #ffffff;
}
#projectsWrap .projectBoxes:hover:before {
  width: 10%;
  background: #ff5454;
}
#projectsWrap:hover .projectBoxes:not(:hover) {
  filter: blur(6px);
}
#projectsWrap .bgImageHover {
  position: fixed;
  width: 600px;
  height: 400px;
  left: 0;
  top: 0;
  z-index: 3;
  pointer-events: none;
  opacity: 0;
  overflow: hidden;
  transition: all 0.35s;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
}
#projectsWrap .bgImageHover .bgImageHoverImage {
  background-size: cover !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transform: scale(2) rotateZ(-15deg);
  -webkit-transform: scale(2) rotateZ(-15deg);
  -moz-transform: scale(2) rotateZ(-15deg);
  -o-transform: scale(2) rotateZ(-15deg);
}
#projectsWrap .bgImageHover.show {
  opacity: 1;
}

#footer-contact {
  text-align: center;
  margin-bottom: 200px;
}
#footer-contact h2 {
  position: relative;
  display: block;
  font-family: "Bodoni Moda", serif !important;
  font-weight: 400;
  font-size: 10rem;
  line-height: 1;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
@media (max-width: 980px) {
  #footer-contact h2 {
    font-size: 8rem;
  }
}
@media (max-width: 600px) {
  #footer-contact h2 {
    font-size: 7rem;
  }
}
#footer-contact h2 span {
  margin-right: 0;
  display: inline-block;
}/*# sourceMappingURL=global.css.map */