@import "variables";

// Page Transitions

.example-1 {
    overflow: hidden;
  }

// Typography

h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Sans', sans-serif!important;
    font-weight: 1000;
}

p, li {
    font-size: 1.3rem;
    line-height: 2.3rem;
    color: $white;
    font-weight: 400;
}

// Global styles

html, body {
    scroll-behavior: smooth;
    background: $black;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    font-family: 'DM Sans', sans-serif!important;
    font-size: 16px!important;
}

#noiseBG {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    bottom: 0;
    z-index: 100;
    background: url('/noise.png');
    opacity: 0.6;
    @include animate(noise .09s infinite);
    @include transform(translateZ(0));
    pointer-events: none;
}

#header {
    width: 100%;
    padding: 1.5%;
    position: fixed;
    z-index: 99;
    #header-logo {
        a {
            font-weight: 1000;
            font-size: 1.4rem;
            color: $white;
        }
    }
    #mainNav {
        display: flex;
        a {
            font-size: 1rem;
            display: inline-block;
            padding: 5px 20px;
            text-decoration: none;
            @include transition(all 0.35s);
            color: $white;
            margin-left: 10px;
            &:hover {
                background: $white;
                color: $black;
            }
            &.active {
                background: $white;
                color: $black;
            }
        }
    }
}

#footer-wrap {
    padding: 1.5%;
    p {
        font-size: 1rem;
        line-height: 1;
        color: $white;
        margin: 0;
    }
    .footerBtn {
        color: $white;
        background: $red;
    }
    #footerLeft {
        a {
            display: inline-block;
            margin: 0;
            padding: 5px 15px;
            background: $red;
            color: $white;
            margin-left: 10px;
        }
    }
}

// Home page

#landingWrap {
    position: relative;
    z-index: 2;
    h1 {
        font-size: 20rem;
        line-height: 1;
        letter-spacing: -10px;
        color: $white;
        margin: 0;
        padding: 0;
        span {
            margin-right: 0;
            display: inline-block;
        }
    }
    h2 {
        font-size: 5rem;
        line-height: 1;
        color: $white;
        margin: 0;
        padding: 0;
        span {
            margin-right: 20px;
            display: inline-block;
        }
    }
}

#aboutWrap {
    h3 {
        font-size: 2rem;
        line-height: 3rem;
        color: $white;
        font-weight: 400;
        margin-bottom: 50px;
    }
    h4 {
        font-size: 1rem;
        line-height: 1;
        color: $grey ;
        font-weight: 1000;
        margin-bottom: 30px;
        text-transform: uppercase;
    }
    li {
        list-style: numeral;
    }
}


// Projects

#projectsWrap {
    position: relative;
    z-index: 2;
    padding-top: 200px;
    h1 {
        font-size: 5rem;
        color: $white;
        line-height: 1;
        span {
            display: inline-block;
        }
    }
    p {
        span {
            display: inline-block;
        }
    }
    .projectBoxes {
        position: relative;
        height: 25vw;
        margin-bottom: 50px;
        background: $white;
        overflow: hidden;
        h3 {
            font-size: 4rem;
            line-height: 4rem;
            color: $black;
            letter-spacing: -5px;
        }
        .projectImg {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            z-index: 1;
            @include backgroundSize(cover!important);
            @include transform(scale(1.5) rotateZ(-20deg));
        }
        .projectInfo {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 2%;
            z-index: 2;
        }
    }
}