@import "variables";

// Page Transitions

.example-1 {
    overflow: hidden;
  }

// Typography

h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Sans', sans-serif!important;
    font-weight: 1000;
}

p, li {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: $white;
    font-weight: 400;
}

// Global styles

html, body {
    scroll-behavior: smooth;
    background: $black;
    scroll-behavior: smooth;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    cursor: none;
}

body {
    font-family: 'DM Sans', sans-serif!important;
    font-size: 16px!important;
}

#loaderWrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 100;
    background: $black;
    display: flex;
    &.loaded {
        display: none;
    }
    #loader {
        align-self: center;
        width: 100%;
        h3 {
            color: $white;
            font-size: 3rem;
            text-align: center;
            font-family: 'Bodoni Moda', serif!important;
            font-weight: 400;
        }
    }
}

#cursorFriend {
    position: fixed;
    left: 0;
    top: 0;
    background: none;
    border: $red 2px solid;
    width: 50px;
    height: 50px;
    @include borderRadius(50%);
    z-index: 999;
    pointer-events: none;
    @include transition(0.2s ease-out);
    &:after {
        display: block;
        position: absolute;
        left: 0;
        top: 30%;
        width: 100%;
        text-align: center;
        font-size: 1rem;
        font-family: 'Bodoni Moda', serif!important;
        font-weight: 400;
        color: $white;
        opacity: 0;
    }
    @media (max-width: 600px) {
        display: none;
    }
    &.hovered {
        background: $red;
        width: 70px;
        height: 70px;
        &:after {
            content: "OPEN";
            opacity: 1;
        }
    }
    &.hoveredThanks {
        background: rgba(255,255,255,0.8);
        backdrop-filter: blur(4px);
        width: 100px;
        height: 100px;
        border-color: rgba(255,255,255,0);
        &:after {
            top: 40%;
            content: "Thank You";
            font-size: 0.8rem;
            color: $black;
            opacity: 1;
        }
    }
}

#noiseBG {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    bottom: 0;
    z-index: 100;
    background: url('/noise.png');
    opacity: 0.6;
    @include animate(noise .09s infinite);
    @include transform(translateZ(0));
    pointer-events: none;
}

#header {
    width: 100%;
    padding: 1.5%;
    @media (max-width: 600px) {
        padding: 2.5%;
    }
    position: absolute;
    z-index: 99;
    #header-logo {
        a {
            font-weight: 1000;
            font-size: 1rem;
            color: $white;
            text-transform: uppercase;
        }
    }
    #mainNav {
        display: flex;
        a {
            font-size: 1rem;
            display: inline-block;
            padding: 5px 20px;
            text-decoration: none;
            @include transition(all 0.35s);
            color: $white;
            margin-left: 10px;
            &:hover {
                background: $white;
                color: $black;
            }
            &.active {
                background: $white;
                color: $black;
            }
        }
    }
}

#footer-wrap {
    padding: 1.5%;
    @media (max-width: 600px) {
        padding: 2.5%;
    }
    p {
        font-size: 1rem;
        line-height: 1;
        color: $white;
        margin: 0;
    }
    .footerBtn {
        color: $white;
        background: $red;
    }
    #footerLeft {
        a {
            display: inline-block;
            margin: 0;
            padding: 5px 15px;
            background: $red;
            color: $white;
            margin-left: 10px;
            @media (max-width: 600px) {
                display: none;
            }
        }
    }
}

#scrollProgressWrap {
    position: fixed;
    right: 30px;
    top: 50%;
    @include transform(translateY(-50%));
    z-index: 10;
    height: 400px;
    width: 5px;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    #scrollProgress {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(255,255,255,0.5);
        width: 100%;
        transform-origin: 0%;
        -webkit-transform-origin: 0%;
    }
    @media (max-width: 600px) {
        display: none;
    }
}

// Home page

#landingWrap {
    position: relative;
    z-index: 2;
    @media (max-width: 600px) {
        text-align: center;
    }
    h1 {
        font-family: 'Bodoni Moda', serif!important;
        font-weight: 400;
        font-size: 25rem;
        line-height: 1;
        color: $white;
        margin: 0;
        padding: 0;
        position: relative;
        z-index: 2;
        @media (max-width: 1400px) {
            font-size: 20rem;
        }
        @media (max-width: 980px) {
            font-size: 15rem;
        }
        @media (max-width: 600px) {
            margin-top: 200px;
            font-size: 8rem;
        }
        span {
            margin-right: 0;
            display: inline-block;
        }
    }
    h2 {
        position: relative;
        z-index: 2;
        font-size: 5rem;
        line-height: 1;
        color: $white;
        margin: 0;
        padding: 0;
        font-weight: 400;
        @media (max-width: 1400px) {
            font-size: 4rem;
        }
        @media (max-width: 600px) {
            font-size: 1.5rem;
        }
        span {
            margin-right: 20px;
            display: inline-block;
        }
    }
}

#profileImage {
    width: 550px;
    height: 550px;
    background: url("/me.jpg") center center no-repeat;
    @include backgroundSize(cover!important);
    @include borderRadius(50%);
    position: absolute;
    left: 55%;
    top: 25%;
    z-index: 1;
    @include transition(all 0.1s);
    @media (max-width: 1200px) {
        width: 500px;
        height: 500px;
    }
    @media (max-width: 980px) {
        width: 400px;
        height: 400px;
    }
    @media (max-width: 600px) {
        top: 180px;
        left: 25%;
        width: 200px;
        height: 200px;
    }
    &:after {
        position: absolute;
        content: "\00a0";
        display: block;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 2;
        backdrop-filter: grayscale(1);
        @include transition(all 0.35s);
    }
}

#aboutWrap {
    margin-top: 300px;
    @media (max-width: 600px) {
        padding-left: 2.5%;
        padding-right: 2.5%;
        ul {
            margin-left: 25px;
        }
    }
    h3 {
        font-size: 1.5rem;
        line-height: 3rem;
        color: $white;
        font-weight: 400;
        margin-bottom: 50px;
        @media (max-width: 600px) {
            font-size: 1.5rem;
        }
    }
    h4 {
        font-size: 1rem;
        line-height: 1;
        color: $grey ;
        font-weight: 1000;
        margin-bottom: 30px;
        text-transform: uppercase;
    }
    li {
        list-style: numeral;
    }
}


// Projects

#projectsWrap {
    position: relative;
    z-index: 2;
    margin-top: 300px;
    margin-bottom: 300px;
    @media (max-width: 600px) {
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
    h1 {
        font-size: 5rem;
        color: $white;
        line-height: 1;
        span {
            display: inline-block;
        }
    }
    h2 {
        font-family: 'Bodoni Moda', serif!important;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1;
        color: $white;
        margin-bottom: 50px;
        position: relative;
        z-index: 1;
    }
    p {
        span {
            display: inline-block;
        }
    }
    h3 {
        font-size: 4rem;
        line-height: 4rem;
        color: $white;
        margin-bottom: 30px;
        @include transition(all 0.35s ease-in-out);
        position: relative;
        z-index: 1;
    }
    h4 {
        font-size: 1.5rem;
        line-height: 1;
        color: $grey;
        @include transition(all 0.35s ease-in-out);
    }
    h5 {
        font-size: 1.5rem;
        line-height: 1;
        color: $grey;
    }
    .projectBoxes {
        border-top: $grey 1px solid;
        position: relative;
        z-index: 2;
        padding: 50px 0;
        display: flex;
        flex-direction: wrap;
        justify-content: space-between;
        align-items: center;
        filter: blur(0px);
        @include transition(filter 0.35s);
        &:before {
            position: absolute;
            left: 0;
            top: 0;
            height: 5px;
            width: 0%;
            background: $black;
            @include transition(all 0.35s ease-out);
            z-index: 0;
            content: "\00a0";
            display: block;
        }
        &:hover {
            h2, h3 {
                color: $white;
            }
            &:before {
                width: 10%;
                background: $red;
            }
        }
    }
}

// footer

#footer-contact {
    text-align: center;
    margin-bottom: 200px;
    h2 {
        position: relative;
        display: block;
        font-family: 'Bodoni Moda', serif!important;
        font-weight: 400;
        font-size: 10rem;
        line-height: 1;
        color: $white;
        margin: 0;
        padding: 0;
        @media (max-width: 980px) {
            font-size: 8rem;
        }
        @media (max-width: 600px) {
            font-size: 7rem;
        }
        span {
            margin-right: 0;
            display: inline-block;
        }
    }
}

// Linkedin

#linkedinRecommend {
    margin-bottom: 300px;
    h2 {
        font-family: 'Bodoni Moda', serif!important;
        font-weight: 400;
        font-size: 3rem;
        text-align: center;
        color: $white;
        @media (max-width: 600px) {
            font-size: 1.7rem;
            margin-bottom: 20px;
        }
    }
    h3 {
        margin-bottom: 200px;
        font-weight: 400;
        font-size: 1.5em;
        text-align: center;
        color: $white;
        @media (max-width: 600px) {
            font-size: 1.2rem;
        }
    }
    .testimonials {
        position: relative;
        border: $white 1px solid;
        padding: 15% 10% 10% 10%;
        @media (max-width: 600px) {
            margin-bottom: 100px;
        }
        h4 {
            font-weight: 1000;
            font-size: 1.3rem;
            color: $white;
            margin: 30px 0 0 0;
            span {
                font-weight: 400;
            }
        }
        h4, p {
            @include transition(color 0.35s);
            position: relative;
            z-index: 1;
        }
        .testimonial_img {
            position: absolute;
            width: 150px;
            height: 150px;
            top: -75px;
            left: 50%;
            margin: 0 0 0 -75px;
            @include backgroundSize(cover!important);
            border: $black 10px solid;
            @include transition(all 0.35s ease-out);
        }
    }
}