@keyframes noise {
  0%, to {
    background-position: 0 0;
  }
  10% {
    background-position: -5% -10%;
  }
  20% {
    background-position: -15% 5%;
  }
  30% {
    background-position: 7% -25%;
  }
  40% {
    background-position: 20% 25%;
  }
  50% {
    background-position: -25% 10%;
  }
  60% {
    background-position: 15% 5%;
  }
  70% {
    background-position: 0 15%;
  }
  80% {
    background-position: 25% 35%;
  }
  90% {
    background-position: -10% 10%;
  }
}
.example-1 {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DM Sans", sans-serif !important;
  font-weight: 1000;
}

p, li {
  font-size: 1.3rem;
  line-height: 2.3rem;
  color: #ffffff;
  font-weight: 400;
}

html, body {
  scroll-behavior: smooth;
  background: #080808;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "DM Sans", sans-serif !important;
  font-size: 16px !important;
}

#noiseBG {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  bottom: 0;
  z-index: 100;
  background: url("/noise.png");
  opacity: 0.6;
  animation: noise 0.09s infinite;
  -webkit-animation: noise 0.09s infinite;
  -moz-animation: noise 0.09s infinite;
  -o-animation: noise 0.09s infinite;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  pointer-events: none;
}

#header {
  width: 100%;
  padding: 1.5%;
  position: fixed;
  z-index: 99;
}
#header #header-logo a {
  font-weight: 1000;
  font-size: 1.4rem;
  color: #ffffff;
}
#header #mainNav {
  display: flex;
}
#header #mainNav a {
  font-size: 1rem;
  display: inline-block;
  padding: 5px 20px;
  text-decoration: none;
  transition: all 0.35s;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  color: #ffffff;
  margin-left: 10px;
}
#header #mainNav a:hover {
  background: #ffffff;
  color: #080808;
}
#header #mainNav a.active {
  background: #ffffff;
  color: #080808;
}

#footer-wrap {
  padding: 1.5%;
}
#footer-wrap p {
  font-size: 1rem;
  line-height: 1;
  color: #ffffff;
  margin: 0;
}
#footer-wrap .footerBtn {
  color: #ffffff;
  background: #ef233c;
}
#footer-wrap #footerLeft a {
  display: inline-block;
  margin: 0;
  padding: 5px 15px;
  background: #ef233c;
  color: #ffffff;
  margin-left: 10px;
}

#landingWrap {
  position: relative;
  z-index: 2;
}
#landingWrap h1 {
  font-size: 20rem;
  line-height: 1;
  letter-spacing: -10px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
#landingWrap h1 span {
  margin-right: 0;
  display: inline-block;
}
#landingWrap h2 {
  font-size: 5rem;
  line-height: 1;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
#landingWrap h2 span {
  margin-right: 20px;
  display: inline-block;
}

#aboutWrap h3 {
  font-size: 2rem;
  line-height: 3rem;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 50px;
}
#aboutWrap h4 {
  font-size: 1rem;
  line-height: 1;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 1000;
  margin-bottom: 30px;
  text-transform: uppercase;
}
#aboutWrap li {
  list-style: numeral;
}

#projectsWrap {
  position: relative;
  z-index: 2;
  padding-top: 200px;
}
#projectsWrap h1 {
  font-size: 5rem;
  color: #ffffff;
  line-height: 1;
}
#projectsWrap h1 span {
  display: inline-block;
}
#projectsWrap p span {
  display: inline-block;
}
#projectsWrap .projectBoxes {
  position: relative;
  height: 25vw;
  margin-bottom: 50px;
  background: #ffffff;
  overflow: hidden;
}
#projectsWrap .projectBoxes h3 {
  font-size: 4rem;
  line-height: 4rem;
  color: #080808;
  letter-spacing: -5px;
}
#projectsWrap .projectBoxes .projectImg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  transform: scale(1.5) rotateZ(-20deg);
  -webkit-transform: scale(1.5) rotateZ(-20deg);
  -moz-transform: scale(1.5) rotateZ(-20deg);
  -o-transform: scale(1.5) rotateZ(-20deg);
}
#projectsWrap .projectBoxes .projectInfo {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2%;
  z-index: 2;
}/*# sourceMappingURL=global.css.map */