// Branding
$black      : #000000;
$white      : #ffffff;
$cream      : #edf2f4;
$red        : #ef233c;
$blueLight  : #a8dadc;
$blueMed    : #457b9d;
$blueDark   : #2b2d42;

// Mixins

@mixin borderRadius($method) {
    border-radius: $method;
    -webkit-border-radius: $method;
    -moz-border-radius: $method;
    -o-border-radius: $method;
}

@mixin transition-normal($method) {
    transition: $method;
    -webkit-transition: $method;
    -moz-transition: $method;
    -o-transition: $method;
}

@mixin transform($method) {
    transform: $method;
    -webkit-transform: $method;
    -moz-transform: $method;
    -o-transform: $method;
}