// Branding
$black      : #131313;
$grey       : rgba(255,255,255,0.3);
$white      : #ffffff;
$cream      : #edf2f4;
$red        : #ff5454;
$blueLight  : #a8dadc;
$blueMed    : #457b9d;
$blueDark   : #2b2d42;

// Mixins

@mixin borderRadius($method) {
    border-radius: $method;
    -webkit-border-radius: $method;
    -moz-border-radius: $method;
    -o-border-radius: $method;
}

@mixin transition($method) {
    transition: $method;
    -webkit-transition: $method;
    -moz-transition: $method;
    -o-transition: $method;
}

@mixin webfix($method, $value) {
    $method: $value;
    -webkit-#{$method}: $value;
    -moz-#{$method}: $value;
    -o-#{$method}: $value;
}

@mixin transform($method) {
    transform: $method;
    -webkit-transform: $method;
    -moz-transform: $method;
    -o-transform: $method;
}

@mixin backgroundSize($method) {
    background-size: $method;
    -webkit-background-size: $method;
    -moz-background-size: $method;
    -o-background-size: $method;
}

@mixin animate($method) {
    animation: $method;
    -webkit-animation: $method;
    -moz-animation: $method;
    -o-animation: $method;
}

// Keyframes

@keyframes noise {
    0%,to {
        background-position: 0 0
    }

    10% {
        background-position: -5% -10%
    }

    20% {
        background-position: -15% 5%
    }

    30% {
        background-position: 7% -25%
    }

    40% {
        background-position: 20% 25%
    }

    50% {
        background-position: -25% 10%
    }

    60% {
        background-position: 15% 5%
    }

    70% {
        background-position: 0 15%
    }

    80% {
        background-position: 25% 35%
    }

    90% {
        background-position: -10% 10%
    }
}

@-webkit-keyframes noise {
    0%,to {
        background-position: 0 0
    }

    10% {
        background-position: -5% -10%
    }

    20% {
        background-position: -15% 5%
    }

    30% {
        background-position: 7% -25%
    }

    40% {
        background-position: 20% 25%
    }

    50% {
        background-position: -25% 10%
    }

    60% {
        background-position: 15% 5%
    }

    70% {
        background-position: 0 15%
    }

    80% {
        background-position: 25% 35%
    }

    90% {
        background-position: -10% 10%
    }
}